@using RwaApartmaniDataLayer.Repositories.Factories
@using RwaApartmaniDataLayer.Models
@{
    ViewBag.Title = "Browse apartments";

    SelectList ddlCitySource = new SelectList
        (
        items: (RepoFactory.GetRepoInstance()).LoadCities(),
        dataTextField: "Name",
        dataValueField: "Id"
        );

    IList<SelectListItem> ddlStatusItems = new List<SelectListItem>();
    ddlStatusItems.Add(new SelectListItem { Text = "Avaliable apartments", Value = "avaliable", Selected = true});
    ddlStatusItems.Add(new SelectListItem { Text = "All apartments", Value = "all" });
    ddlStatusItems.Add(new SelectListItem { Text = "Unavaliable apartments", Value = "unavaliable" });
    SelectList ddlStatusSource = new SelectList(ddlStatusItems, "Value", "Text");

    IList<SelectListItem> ddlFilterItems = new List<SelectListItem>();
    ddlFilterItems.Add(new SelectListItem { Text = "Price: Lowest to highest", Value = "PLH", Selected = true });
    ddlFilterItems.Add(new SelectListItem { Text = "Price: Highest to lowest", Value = "PHL" });
    ddlFilterItems.Add(new SelectListItem { Text = "Rooms: Least to most", Value = "RLH" });
    ddlFilterItems.Add(new SelectListItem { Text = "Rooms: Most to least", Value = "RHL" });
    ddlFilterItems.Add(new SelectListItem { Text = "Space: Least to most", Value = "SLH" });
    ddlFilterItems.Add(new SelectListItem { Text = "Space: Most to least", Value = "SHL" });
    SelectList ddlFiltersSource = new SelectList(ddlFilterItems, "Value", "Text");
}

<div class="container">
    <div class="col-sm mb-4">
        <div class="row">
            <div class="col-sm">
                @Html.TextBox(name: "Search", value: "", htmlAttributes: new { @class = "form-control", placeholder = "Search apartment..." })
            </div>
            <div class="col-sm">
                @Html.DropDownList(optionLabel: "Any city", selectList: ddlCitySource, name: "CityId", htmlAttributes: new { @class = "form-control", id = "cityDropDownList" })
            </div>
            <div class="col-sm">
                @Html.DropDownList(optionLabel: null, selectList: ddlStatusSource, name: "StatusId", htmlAttributes: new { @class = "form-control", id = "statusDropDownList" })
            </div>
            <div class="col-sm">
                @Html.DropDownList(optionLabel: null, selectList: ddlFiltersSource, name: "FilterCode", htmlAttributes: new { @class = "form-control", id = "filterDropDownList" })
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn btn-danger" id="findButton">
                    <img src="~/Content/images/search.png" style="position: relative; top: -2px; left:3px" class="icon" />
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm apartments_container">
    </div>
</div>

@section Scripts{
    @*@Scripts.Render("~/Scripts/jquery-3.6.0.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")*@
    <script>
        $("#filterDropDownList").val("PLH");
        $("#statusDropDownList").val("avaliable");
        $("#cityDropDownList, #statusDropDownList, #filterDropDownList").each(function () {
            $(this).change(function () {
                loadApartmentListPartialViewAjax();
            });
        });
        $("#Search").autocomplete({
            source: '@Url.Action(actionName: "GetApartmentNames", controllerName: "Ajax")',
            minLength: 2,
            select: function (e, ui) {
                e.preventDefault();
                console.log(ui);
                var clickedName = ui.item.label;
                $(this).val(clickedName);
                return false;
            }
        });
        $(document).ready(function () {
            loadApartmentListPartialViewAjax();
        });
        $("#findButton").click(function () {
            loadApartmentListPartialViewAjax();
        });
        $('body').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                loadApartmentListPartialViewAjax();
            }
        });
        //example url: http://localhost:50668/?Search=&CityId=&StatusId=&FilterCode=PLH
        function loadApartmentListPartialViewAjax() {
            $.ajax({
                url: `/Apartments/LoadApartmentListPartialView/?Search=${$("#Search").val()}&CityId=${$("#cityDropDownList").val()}&StatusId=${$("#statusDropDownList").val()}&FilterCode=${$("#filterDropDownList").val()}`,
                success: function (partialView) {
                    $(".apartments_container").html("")
                    $(".apartments_container").append(partialView);
                }
            });
        }
    </script>
}
