@model RwaApartments_Public.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div>
    @using (Html.BeginForm("Index", "Apartments", null, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "")
        <div class="mb-3">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email, "")
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="mb-3 form-check">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    }
</div>

