@model RwaApartments_Public.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div>
    @using (Html.BeginForm("Index", "Apartments", null, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="mb-3">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
        if(!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                @Html.ValidationSummary()
            </div>
        }
    }
</div>

