@using Recaptcha.Web.Mvc
@model RwaApartments_Public.Models.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}
<div class="container pt-5" style="display: flex; justify-content: center; align-items: center" id="popup_login">
    @using (Html.BeginForm("Register", "Apartments", null, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="container p-4" style="width:500px">
            <div class="container mb-3" style="display:flex; justify-content:center; align-items:center">
                <img src="~/Content/images/apartment.png" style="width:150px; height:150px" />
            </div>
            <div class="mb-4">
                <h2 style="text-align:center">Register</h2>
            </div>
            <div class="mb-3">
                @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control", style = "text-align:center", placeholder = "Enter your name" })
            </div>
            <div class="mb-3">
                @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control", style = "text-align:center", placeholder = "Enter your e-mail address" })
            </div>
            <div class="mb-3">
                @Html.TextBoxFor(m => m.Address, htmlAttributes: new { @class = "form-control", style = "text-align:center", placeholder = "Enter your address" })
            </div>
            <div class="mb-3">
                @Html.TextBoxFor(m => m.PhoneNumber, htmlAttributes: new { @class = "form-control", style = "text-align:center", placeholder = "Enter your phone number" })
            </div>
            <div class="mb-2">
                @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control", style = "text-align:center", placeholder = "Enter your password" })
            </div>
            <div class="mb-3">
                @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control", style = "text-align:center", placeholder = "Confirm specified password" })
            </div>
            <div class="mb-5" style="display:flex; justify-content: center; align-items:center">
                @Html.RecaptchaWidget(siteKey: "6Ld0Ya0gAAAAABWu7qi05kl8gS4MXJuc5ljtY-cH")
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    @Html.ValidationSummary()
                </div>
            }
            <div class="mb-3">
                <button type="submit" class="btn btn-success" style="width: 100%">Register</button>
            </div>
            <div class="mb-3" style="display:flex; justify-content: center; align-items:center">
                @Html.ActionLink("Already have an account? Login here", actionName: "Index", controllerName: "Apartments")
            </div>
        </div>
    }
</div>

